@using Entity
@model Category
@{
    Category ct = new Category();
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<Lesson> lessons = Query.LessonList();
    List<Education> educations = Query.EducationList();
    List<Teacher> teachers = Query.TeacherList();
    List<Category> categories = Query.CategoryList();
    List<Unit> units = Query.UnitList();
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">DERS EKLE</h3>
                    </div>
                    <div class="card-body">
                        <form action="/Admin/Lesson/Add" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="CategoryID">Sınıf Seçiniz:</label>
                                <select name="CategoryID" class="form-control">
                                    @foreach (var item in categories)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="EducationID">Eğitim Seçiniz:</label>
                                <select name="EducationID" class="form-control" id="educationSelect">
                                    <option selected disabled value="">Eğitim Seçiniz.. </option>
                                    @foreach (var item in educations)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="UnitID">Ünite Seçiniz:</label>
                                <select name="UnitID" class="form-control" id="unitSelect">
                                    @*@foreach (var item in units)
                {
                    <option value="@item.ID">@item.Education.Name / @item.Name</option>
                }*@
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Name">Ders Adı</label>
                                <input name="Name" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="StartDate">Başlama Tarihi</label>
                                <input type="date" name="StartDate" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="EndDate">Bitiş Tarihi</label>
                                <input type="date" name="EndDate" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="Path">Video Linki</label>
                                <input name="Path" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="ExamLink">Sınav Linki</label>
                                <input name="ExamLink" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="TeacherID">Öğretmen Seçiniz:</label>
                                <select name="TeacherID" class="form-control">
                                    @foreach (var item in teachers)
                                    {
                                        <option value="@item.ID">@item.ID @item.FirstName @item.LastName</option>
                                    }
                                </select>
                            </div>
                            <div class="">
                                <label for="Pdf"><b>Pdf Ekle</b></label>
                                <input type="file" name="Pdf">
                            </div>
                            <div class="">
                                <label for="Image"><b>Ders Logosu Ekle</b></label>
                                <input type="file" name="Image">
                            </div>
                            <input type="submit" value="Ekle" class="form-control btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


