@using Entity
@model List<Lesson>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<Education> educations = Query.EducationList();
    List<Lesson> lessons = Query.LessonList();
}



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">DERSLER</h3>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display" style="width:100%" id="eduLessonTable">
                                <thead class=" text-primary">
                                    <tr>
                                        <th style="width:105px;">İşlem</th>
                                        <th>Sınıf</th>
                                        <th>EğitimAdı</th>
                                        <th>Ünite Adı</th>
                                        <th>Ders Adı</th>
                                        <th>Ders Logosu</th>
                                        <th>Başlama Tarihi</th>
                                        <th>Bitiş Tarihi</th>
                                        <th>Video Linki</th>
                                        <th>Öğretmen</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            <a href="/Admin/Lesson/Update/@item.ID">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <a href="/Admin/Lesson/Delete/@item.ID">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </td>
                                        <td>@item.Category.Name</td>
                                        <td>@item.Education.Name</td>
                                        <td>@item.Unit.Name</td>
                                        <td>@item.Name</td>
                                        <td> <img src="@item.Logo" style="width:100px;height:100px;" /></td>
                                        <td>@item.StartDate</td>
                                        <td>@item.EndDate</td>
                                        <td>@item.Path</td>
                                        <td>@item.Teacher.FirstName @item.Teacher.LastName</td>

                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



