@using Entity
@model Lesson
@{
    ViewBag.Title = "Ders";
    Layout = "~/Areas/Cteacher/Views/Shared/_TeacherLayout.cshtml";
    List<Student> students = Query.StudentList();
}

<!-- End Navbar -->
<div class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header ">
                    @*<img src="@Model.Logo" style="width:100px;" />*@
                    <b>  @Model.Education.Name.ToUpper() </b> <br /><hr />
                    <b>   @Model.Name </b>    <hr />
                    <p>Başlama-Bitiş Tarihi :</p>
                    <b>@Model.StartDate - @Model.EndDate</b><hr />
                </div>
                <div class="card-body ">
                    <div id="map" class="text">
                        <b> Öğrenciler: </b><br />
                    </div> <hr />
                    <ul>
                        @foreach (Student student in Model.Students)
                        {
                            <li>@student.FirstName  @student.LastName</li>
                        }
                    </ul>
                    <p><b>Öğretmen:</b> @Model.Teacher.FirstName @Model.Teacher.LastName</p> <hr />
                    <a href="@Model.Path" target="_blank"><input type="submit" value="Dersi Başlat" class="btn btn-warning" /></a>

                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card ">
                <div class="card-header ">
                    <b>@Model.Education.Name / @Model.Name.ToUpper() </b> <hr />
                </div>
                <div class="card-body ">
                    <div id="map" class="map"> <iframe src="@Model.Path" frameborder="0" width="650" height="400" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="row">

    </div>
</div>
<div class="content">
    <div class="row">

    </div>
</div>