@using Entity
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cteacher/Views/Shared/_TeacherLayout.cshtml";
    Teacher currentUSers = Session["currentUSers"] as Teacher;

}

<div class="row">

    @*<div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-file"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category"><a href="@Url.Action("EducationList","Home", new { area="Cteacher"})">Eğitimlerim</a></p>
                            <p class="card-title">|||||||||||
                            <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-file"></i> Tüm Dersler
                </div>
            </div>
        </div>
    </div>*@
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-file"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category"><a href="@Url.Action("List3","Lesson", new { area="Cteacher"})">Derslerim</a></p>
                            <p class="card-title">|||||||||||
                            <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-file"></i> Tüm Dersler
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-book"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category"><a href="@Url.Action("Add","Lesson", new {area="Cteacher" })">Ders Ekle</a></p>
                            <p class="card-title">||||||||
                            <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-book"></i> Ders Ekle
                </div>
            </div>
        </div>
    </div>*@

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category"><a href="@Url.Action("Add","OnlineLesson", new { area="Cteacher"})">Canlı Ders Ekle</a></p>
                            <p class="card-title">|||||||||
                            <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-clock-o"></i> Canlı Ders Ekle
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category"><a href="@Url.Action("Profil","Home", new {area="Cteacher" })">Profilim</a></p>
                            <p class="card-title">|||||||||||
                            <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-user"></i> Profil
                </div>
            </div>
        </div>
    </div>



</div>

