@using Entity
@model Teacher
@{
    ViewBag.Title = "UpdateProfil";
    Layout = "~/Areas/Cteacher/Views/Shared/_TeacherLayout.cshtml";
    Teacher currentTeacher = Session["currentTeacher"] as Teacher;

}
<div class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="~/Areas/Admin/Content/img/geniş logo.png" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="/Cteacher/Home/Profil">
                            <img class="avatar border-gray" src="@currentTeacher.Detail" alt="...">
                            <h5 class="title">@currentTeacher.FirstName @currentTeacher.LastName</h5>
                        </a>
                        <p class="description">
                            Öğretmen
                        </p>
                    </div>
                    <p class="description text-center">
                        "@currentTeacher.Note"
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">PROFİLİMİ GÜNCELLE</h5>
                </div>
                <div class="card-body">
                    <form action="/Cteacher/Home/UpdateProfil" method="post" enctype="multipart/form-data">
                        <div class="">
                            <label for="Image" style="color:coral">Profil Fotoğrafı Güncelle</label><br />
                            <input type="file" name="Image" />
                        </div>
                        <br /><br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">E-mail Adresi</label>
                                    <input name="Email" type="email" class="form-control" value="@currentTeacher.Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Ad</label>
                                    <input name="FirstName" type="text" class="form-control" value="@currentTeacher.FirstName">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Soyad</label>
                                    <input name="LastName" type="text" class="form-control" value="@currentTeacher.LastName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Şifre</label>
                                    <input name="Password" type="text" class="form-control" value="@currentTeacher.Password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Telefon</label>
                                    <input name="Phone" type="text" class="form-control" value="@currentTeacher.Phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Adres</label>
                                    <input name="Address" type="text" class="form-control" value="@currentTeacher.Address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Branş</label>
                                    <input name="Note" type="text" class="form-control" value="@currentTeacher.Note">
                                </div>
                            </div>
                        </div>
                        <a href="/Admin/Home/UpdateProfil">

                            <button type="submit" class="btn btn-primary pull-right">PROFİLİMİ GÜNCELLE</button>
                            <div class="clearfix"></div>
                        </a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


