@using Entity
@{
    List<Education> educations = Query.EducationList();
    List<Lesson> lessons = Query.LessonList();
    List<Category> categories = Query.CategoryList();
    Student currentUsers = Session["currentUsers"] as Student;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="~/Areas/Admin/Content/img/logo.png">
    <title>Bilim ve Teknoloji Okulu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Areas/Member/Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Areas/Member/Content/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Areas/Member/Content/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Areas/Member/Content/css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/Areas/Member/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Areas/Member/Content/css/owl.theme.default.min.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/Areas/Member/Content/css/flexslider.css">

    <!-- Pricing -->
    <link rel="stylesheet" href="~/Areas/Member/Content/css/pricing.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Areas/Member/Content/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/Areas/Member/Content/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="~/Areas/Member/Content/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div class="fh5co-loader"></div>

    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            @if (currentUsers == null)
                            {

                            }
                            else
                            {
                                <p class="site"><b>Hoşgeldin @currentUsers.FirstName @currentUsers.LastName</b></p>
                            }

                            <p class="num">Call: +01 123 456 7890</p>
                            <ul class="fh5co-social">
                                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                                <li><a href="#"><i class="icon-twitter2"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                                <li><a href="#"><i class="icon-whatsapp"></i></a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div id="fh5co-logo"><a href="@Url.Action("Index", "Home", new { area = "Member" })"><img src="~/Areas/Admin/Content/img/logo.png" style="height:30px; width:30px;"></img>BİLİM VE TEKNOLOJİ OKULU</a></div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul>
                                <li class="active"><a href="@Url.Action("Index", "Home", new { area = "Member" })">Anasayfa</a></li>
                                <li class="has-dropdown">
                                    <a href="@Url.Action("Index", "Education", new { area = "Member" })">Eğitimler</a>
                                    <ul class="dropdown">
                                        @foreach (var item in educations)
                                        {
                                            <li><a href="#">@item.Name</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="@Url.Action("Index", "Category", new { area = "Member" })">Sınıflar</a>
                                    <ul class="dropdown">
                                        <li><a href="@Url.Action("SınıfBir", "Category", new { area = "Member" })">1.SINIF</a></li>
                                        <li><a href="@Url.Action("SınıfIki", "Category", new { area = "Member" })">2.SINIF</a></li>
                                        <li><a href="@Url.Action("SınıfUc", "Category", new { area = "Member" })">3.SINIF</a></li>
                                        <li><a href="@Url.Action("SınıfDort", "Category", new { area = "Member" })">4.SINIF</a></li>
                                        <li><a href="@Url.Action("SınıfBes", "Category", new { area = "Member" })">5.SINIF</a></li>
                                        <li><a href="@Url.Action("SınıfAlti", "Category", new { area = "Member" })">6.SINIF</a></li>
                                        <li><a href="@Url.Action("SınıfYedi", "Category", new { area = "Member" })">7.SINIF</a></li>
                                        <li><a href="@Url.Action("SınıfSekiz", "Category", new { area = "Member" })">8.SINIF</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index", "Lesson", new { area = "Member" })">Dersler</a></li>
                                <li><a href="@Url.Action("Index", "Teacher", new { area = "Member" })">Öğretmenler</a></li>
                                <li><a href="@Url.Action("About", "Home", new { area = "Member" })">Hakkımızda</a></li>
                                <li><a href="@Url.Action("Contact", "Home", new { area = "Member" })">İletişim</a></li>
                                @if (currentUsers == null)
                                {
                                    <li class="btn-cta"><a href="@Url.Action("RegisterTeacher", "Account", new { area = "" })"><span>ÖĞRETMEN ÜYE OL</span></a></li>
                                    <li class="btn-cta"><a href="@Url.Action("Register", "Account", new { area = "" })"><span>ÖĞRENCİ ÜYE OL</span></a></li>
                                    <li class="btn-cta"><a href="@Url.Action("Login", "Account", new { area = "" })"><span>ÜYE GİRİŞİ</span></a></li>
                                }
                                else
                                {
                                    currentUsers = null;
                                    <li class="btn-cta"><a href="@Url.Action("Index", "Home", new { area = "Student" })"><span>EĞİTİM PANELİM</span></a></li>

                                    <li class="btn-cta"><a href="@Url.Action("Logout", "Account", new { area = "" })"><span>Çıkış Yap</span></a></li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>

        @RenderBody()

        <footer id="fh5co-footer" role="contentinfo" style="background-image: url(~/Areas/Member/Content/images/img_bg_4.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-3 fh5co-widget">
                        <h3>EĞİTİMLERİMİZ HAKKINDA</h3>
                        <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
                        <h3>Learning</h3>
                        <ul class="fh5co-footer-links">
                            <li><a href="@Url.Action("Index", "Education", new { area = "Member" })">Eğitimler</a></li>
                            <li><a href="@Url.Action("Index", "Lesson", new { area = "Member" })">Dersler</a></li>
                            <li><a href="@Url.Action("Index", "Teacher", new { area = "Member" })">Öğretmenler</a></li>
                            <li><a href="@Url.Action("About", "Home", new { area = "Member" })">Hakkımızda</a></li>
                            <li><a href="@Url.Action("Contact", "Home", new { area = "Member" })">İletişim</a></li>
                        </ul>
                    </div>

                    @*<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
                        <h3>Learn &amp; Grow</h3>
                        <ul class="fh5co-footer-links">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Handbook</a></li>
                            <li><a href="#">Held Desk</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
                        <h3>Engage us</h3>
                        <ul class="fh5co-footer-links">
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Visual Assistant</a></li>
                            <li><a href="#">System Analysis</a></li>
                            <li><a href="#">Advertise</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
                        <h3>Legal</h3>
                        <ul class="fh5co-footer-links">
                            <li><a href="#">Find Designers</a></li>
                            <li><a href="#">Find Developers</a></li>
                            <li><a href="#">Teams</a></li>
                            <li><a href="#">Advertise</a></li>
                            <li><a href="#">API</a></li>
                        </ul>
                    </div>*@
                </div>

                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; 2020</small>
                            <small class="block">Designed by Ayşe TOKTAŞ &amp; Mustafa Umut AVCI</small>
                        </p>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Areas/Member/Content/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Areas/Member/Content/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Areas/Member/Content/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Areas/Member/Content/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Areas/Member/Content/js/jquery.stellar.min.js"></script>
    <!-- Carousel -->
    <script src="~/Areas/Member/Content/js/owl.carousel.min.js"></script>
    <!-- Flexslider -->
    <script src="~/Areas/Member/Content/js/jquery.flexslider-min.js"></script>
    <!-- countTo -->
    <script src="~/Areas/Member/Content/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Areas/Member/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Areas/Member/Content/js/magnific-popup-options.js"></script>
    <!-- Count Down -->
    <script src="~/Areas/Member/Content/js/simplyCountdown.js"></script>
    <!-- Main -->
    <script src="~/Areas/Member/Content/js/main.js"></script>
    <script>
        var d = new Date(new Date().getTime() + 1000 * 120 * 120 * 2000);

        // default example
        simplyCountdown('.simply-countdown-one', {
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate()
        });

        //jQuery example
        $('#simply-countdown-losange').simplyCountdown({
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate(),
            enableUtc: false
        });
    </script>
</body>
</html>

