
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using Entity
@model Teacher

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">Eğitim Güncelle</h3>

                    </div>
                    <div class="card-body">
                        <form action="/Admin/Teacher/Update" method="post" enctype="multipart/form-data">


                            <div class="form-group">
                                <label for="ID">Öğretmen ID</label>
                                <input name="ID" readonly value="@Model.ID" class="form-control disabled" />
                            </div>

                            <div class="form-group">
                                <label for="FirstName">Ad</label>
                                <input name="FirstName" value="@Model.FirstName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="LastName">Soyad</label>
                                <input name="LastName" value="@Model.LastName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Email">E-mail</label>
                                <input name="Email" value="@Model.Email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Password">Şifre</label>
                                <input name="Password" value="@Model.Password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Phone">Tel No</label>
                                <input name="Phone" value="@Model.Phone" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Address">Adres</label>
                                <input name="Address" value="@Model.Address" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Note">Not</label>
                                <input name="Note" value="@Model.Note" class="form-control" />
                            </div>
                            <div class="form-group">
                                <img src="@Model.Detail" class="rounded" height="100" />
                            </div>
                            <div class="">
                                <label for="Image" style="color:coral">Eğitim Logosunu Güncelle</label>
                                <input type="file" name="Image" />
                            </div>



                            <input type="submit" value="Güncelle" class="form-control btn btn-primary" />

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




