@using Entity
@{
    int eduCount = 0;
    int count = 0;
    int lesCount = 0;
    int priCount = 0;
    int catCount = 0;


    ViewBag.Title = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";

    List<Education> educations = Query.EducationList();
    List<Lesson> lessons = Query.LessonList();
    List<Teacher> teachers = Query.TeacherList();
    List<Category> categories = Query.CategoryList();
}


<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/Areas/Member/Content/images/slider2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>The Roots of Education are Bitter, But the Fruit is Sweet</h1>
                                <h2>Brought to you by <a href="" target="_blank">gdfsgsf</a></h2>
                                <p><a class="btn btn-primary btn-lg" href="#">Start Learning Now!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/Areas/Member/Content/images/slider3.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>The Great Aim of Education is not Knowledge, But Action</h1>
                                <h2>Brought to you by <a href="" target="_blank">gasfgds</a></h2>
                                <p><a class="btn btn-primary btn-lg btn-learn" href="#">Start Learning Now!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/Areas/Member/Content/images/slider4.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>We Help You to Learn New Things</h1>
                                <h2>Brought to you by <a href="" target="_blank">sdgsdg</a></h2>
                                <p><a class="btn btn-primary btn-lg btn-learn" href="#">Start Learning Now!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-course-categories">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>SINIFLAR</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in categories)
            {
                if (catCount < 8)
                {
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        <div class="services">
                            <span class="icon">
                                <i class="icon-note"></i>
                            </span>
                            <div class="desc">
                                <h3><a href="#">@item.Name</a></h3>
                                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            </div>
                        </div>
                    </div>
                    catCount++;
                }
            }
        
        </div>
    </div>
</div>

<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(/Areas/Member/Content/images/img_bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-study"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="4" data-speed="3000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Eğitimler</span>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-book2"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="35" data-speed="3000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Dersler</span>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-head"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="40" data-speed="3000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Öğretmenler</span>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-bulb"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="200" data-speed="3000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Yapılan Ders</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-course">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>EĞİTİMLER</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in educations)
            {
                if (eduCount < 4)
                {
                    <div class="col-md-6 animate-box">
                        <div class="course">
                            <a href="#" class="course-img" style="background-image: url(@item.ImagePath);">
                            </a>
                            <div class="desc">
                                <h3><a href="#">@item.Name</a></h3>
                                <p>@item.Note</p>
                                <span><a href="#" class="btn btn-primary btn-sm btn-course">Satın Al</a></span>
                            </div>
                        </div>
                    </div>
                    eduCount++;
                }
            }
        </div>
    </div>
</div>

<div id="fh5co-testimonial" style="background-image: url(/Areas/Member/Content/images/school.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2><span>Öğretmenler</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row animate-box">
                    <div class="owl-carousel owl-carousel-fullwidth">

                        @foreach (var teach in teachers)
                        {
                            if (count < 3)
                            {
                                <div class="item">
                                    <div class="testimony-slide active htext-center">
                                        <div class="user" style="background-image: url(/Areas/Member/Content/images/person1.jpg);"></div>
                                        <span><p>@teach.FirstName @teach.LastName</p><br><small>Öğretmen</small></span>
                                        <blockquote>
                                            <p>&ldquo;@teach.Note&rdquo;</p>
                                        </blockquote>
                                    </div>
                                </div>
                                count++;
                            }
                        }


                        @*<div class="item">
                                <div class="testimony-slide active text-center">
                                    <div class="user" style="background-image: url(/Areas/Member/Content/images/person2.jpg);"></div>
                                    <span>Mike Smith<br><small>Students</small></span>
                                    <blockquote>
                                        <p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <div class="user" style="background-image: url(/Areas/Member/Content/images/person3.jpg);"></div>
                                    <span>Rita Jones<br><small>Teacher</small></span>
                                    <blockquote>
                                        <p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                    </blockquote>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>DERSLER</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        @*<div class="row row-padded-mb">
            <div class="col-md-4 animate-box">
                <div class="fh5co-event">
                    <div class="date text-center"><span>15<br>Mar.</span></div>
                    <h3><a href="#">USA, International Triathlon Event</a></h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Read More</a></p>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="fh5co-event">
                    <div class="date text-center"><span>15<br>Mar.</span></div>
                    <h3><a href="#">USA, International Triathlon Event</a></h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Read More</a></p>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="fh5co-event">
                    <div class="date text-center"><span>15<br>Mar.</span></div>
                    <h3><a href="#">New Device Develope by Microsoft</a></h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#">Read More</a></p>
                </div>
            </div>
        </div>*@
        <div class="row">

            @foreach (var item in lessons)
            {
                if (lesCount < 6)
                {
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-img-holder" style="background-image: url(@item.Path);"></a>
                            <div class="blog-text">
                                <h3><a href="#">@item.Name</a></h3>
                                <span class="posted_on">@item.Content</span>
                                <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                                <p>@item.Teacher.FirstName @item.Teacher.LastName</p>
                            </div>
                        </div>
                    </div>
                    lesCount++;
                }
            }



            @*<div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#" class="blog-img-holder" style="background-image: url(/Areas/Member/Content/images/project-2.jpg);"></a>
                        <div class="blog-text">
                            <h3><a href="#">Healty Lifestyle &amp; Living</a></h3>
                            <span class="posted_on">March. 15th</span>
                            <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#" class="blog-img-holder" style="background-image: url(/Areas/Member/Content/images/project-3.jpg);"></a>
                        <div class="blog-text">
                            <h3><a href="#">Healty Lifestyle &amp; Living</a></h3>
                            <span class="posted_on">March. 15th</span>
                            <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                </div>*@



        </div>
    </div>
</div>

<div id="fh5co-pricing" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Plan &amp; Pricing</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            <div class="pricing pricing--rabten">

                @foreach (var edu in educations)
                {
                    if (priCount < 3)
                    {


                        <div class="col-md-4 animate-box">
                            <div class="pricing__item">
                                <div class="wrap-price">
                                    <!-- <div class="icon icon-user2"></div> -->
                                    <h3 class="pricing__title">@edu.Name</h3>
                                    <!-- <p class="pricing__sentence">Single user license</p> -->
                                </div>
                                <div class="pricing__price">
                                    <span class="pricing__anim pricing__anim--1">
                                        <span class="pricing__currency">$</span>0
                                    </span>
                                    <span class="pricing__anim pricing__anim--2">
                                        <span class="pricing__period">per year</span>
                                    </span>
                                </div>
                                <div class="wrap-price">
                                    <ul class="pricing__feature-list">
                                        @foreach (var les in lessons)
                                        {

                                            <li class="pricing__feature">@les.Name</li>
                                        }
                                    </ul>
                                    <button class="pricing__action">Choose plan</button>
                                </div>
                            </div>
                        </div>
                        priCount++;
                    }
                }
                @*<div class="col-md-4 animate-box">
                        <div class="pricing__item">
                            <div class="wrap-price">
                                <!-- <div class="icon icon-store"></div> -->
                                <h3 class="pricing__title">Silver</h3>
                                <!-- <p class="pricing__sentence">Up to 5 users</p> -->
                            </div>
                            <div class="pricing__price">
                                <span class="pricing__anim pricing__anim--1">
                                    <span class="pricing__currency">$</span>79
                                </span>
                                <span class="pricing__anim pricing__anim--2">
                                    <span class="pricing__period">per year</span>
                                </span>
                            </div>
                            <div class="wrap-price">
                                <ul class="pricing__feature-list">
                                    <li class="pricing__feature">One Year Standard Access</li>
                                    <li class="pricing__feature">Limited Courses</li>
                                    <li class="pricing__feature">300+ Lessons</li>
                                    <li class="pricing__feature">Random Supporter</li>
                                    <li class="pricing__feature">View Only Ebook</li>
                                    <li class="pricing__feature">Standard Tutorials</li>
                                    <li class="pricing__feature">Unlimited Registered User</li>
                                </ul>
                                <button class="pricing__action">Choose plan</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="pricing__item">
                            <div class="wrap-price">
                                <!-- <div class="icon icon-home2"></div> -->
                                <h3 class="pricing__title">Gold</h3>
                                <!-- <p class="pricing__sentence">Unlimited users</p> -->
                            </div>
                            <div class="pricing__price">
                                <span class="pricing__anim pricing__anim--1">
                                    <span class="pricing__currency">$</span>499
                                </span>
                                <span class="pricing__anim pricing__anim--2">
                                    <span class="pricing__period">per year</span>
                                </span>
                            </div>
                            <div class="wrap-price">
                                <ul class="pricing__feature-list">
                                    <li class="pricing__feature">Life Time Access</li>
                                    <li class="pricing__feature">Unlimited All Courses</li>
                                    <li class="pricing__feature">7000+ Lessons &amp; Growing</li>
                                    <li class="pricing__feature">Free Supporter</li>
                                    <li class="pricing__feature">Free Ebook Downloads</li>
                                    <li class="pricing__feature">Premium Tutorials</li>
                                    <li class="pricing__feature">Unlimited Registered User</li>
                                </ul>
                                <button class="pricing__action">Choose plan</button>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div id="fh5co-register" style="background-image: url(/Areas/Member/Content/images/img_bg_2.jpg);">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 animate-box">
            <div class="date-counter text-center">
                <h2>Get 400 of Online Courses for Free</h2>
                <h3>By Mike Smith</h3>
                <div class="simply-countdown simply-countdown-one"></div>
                <p><strong>Limited Offer, Hurry Up!</strong></p>
                <p><a href="#" class="btn btn-primary btn-lg btn-reg">Register Now!</a></p>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-gallery" class="fh5co-bg-section">
    <div class="row text-center">
        <h2><span>GALERİ</span></h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></a>

        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></a>
        </div>
    </div>
</div>