@using Entity
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
    List<Lesson> lessons = Query.LessonList();
    List<Category> categories = Query.CategoryList();
}


<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/Areas/Member/Content/images/slider33.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Eğitimler</h1>
                                @*<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>*@
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>



<div id="fh5co-course">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-12 text-center fh5co-heading">
                <h2>DERSLER</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                <div class="col-md-2 ">
                </div>
                @foreach (var item in categories)
                {
                    <div class="col-md-1 ">
                        <span><a href="/Member/Education/List1?id=@item.ID" class="btn btn-primary btn-sm btn-course">@item.Name</a></span>
                    </div>
                }
                <div class="col-md-2 ">
                </div>
                @*<div class="col-md-1 col-lg-offset-2">
            <span><a href="/Member/Lesson/Buy?id=" class="btn btn-primary btn-sm btn-course">1.Sınıf</a></span>
        </div>
        <div class="col-md-1">
            <span><a href="/Member/Lesson/Buy?id=" class="btn btn-primary btn-sm btn-course">2.Sınıf</a></span>

        </div>
        <div class="col-md-1">
            <span><a href="/Member/Lesson/Buy?id=" class="btn btn-primary btn-sm btn-course">3.Sınıf</a></span>

        </div>
        <div class="col-md-1">
            <span><a href="/Member/Lesson/Buy?id=" class="btn btn-primary btn-sm btn-course">4.Sınıf</a></span>

        </div>
        <div class="col-md-1">
            <span><a href="/Member/Lesson/Buy?id=" class="btn btn-primary btn-sm btn-course">5.Sınıf</a></span>

        </div>
        <div class="col-md-1">
            <span><a href="/Member/Lesson/Buy?id=" class="btn btn-primary btn-sm btn-course">6.Sınıf</a></span>

        </div>
        <div class="col-md-1">
            <span><a href="/Member/Lesson/Buy?id=" class="btn btn-primary btn-sm btn-course">7.Sınıf</a></span>

        </div>
        <div class="col-md-1">
            <span><a href="/Member/Lesson/Buy?id=" class="btn btn-primary btn-sm btn-course">8.Sınıf</a></span>

        </div>*@
            </div>
        </div>
      
        <div class="row">
            @foreach (var item in lessons)
            {

                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a href="#" class="course-img" style="background-image: url(@item.Logo);">
                        </a>
                        <div class="desc">
                            <h3><a href="#">@item.Name</a></h3>

                            <p>Öğretmen: @item.Teacher.FirstName @item.Teacher.LastName</p>
                            <span><a href="/Member/Lesson/Buy?id=@item.ID" class="btn btn-primary btn-sm btn-course">Satın Al</a></span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



