@using Entity
@model Lesson
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Cteacher/Views/Shared/_TeacherLayout.cshtml";
    List<Education> educations = Query.EducationList();
    List<Teacher> teachers = Query.TeacherList();
    List<Category> categories = Query.CategoryList();
}
<form action="/Cteacher/Lesson/Update" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <img src="@Model.Logo" class="rounded" height="100" />
    </div>
    <div class="">
        <label for="Logo" style="color:coral">Eğitim Logosunu Güncelle</label>
        <input type="file" name="Image" />
    </div>

    <div class="form-group">
        <label for="ID">ID</label>
        <input readonly name="ID" value="@Model.ID" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Name">Ürün Adı</label>
        <input name="Name" value="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="TeacherID">Öğretmen Seçiniz:</label>
        <select name="TeacherID" class="form-control">
            @foreach (var item in teachers)
            {
                <option @(Model.TeacherID == item.ID ? "selected=\"selected\"" : "" ) value="@item.ID">@item.FirstName @item.LastName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="EducationID">Eğitim Seçiniz:</label>
        <select name="EducationID" class="form-control">
            @foreach (var item in educations)
            {
                <option @(Model.EducationID == item.ID ? "selected=\"selected\"" : "" ) value="@item.ID">@item.Name</option>
            }
        </select>
    </div>
    @*<div class="form-group">
        <label for="CategoryID">Sınıf Seçiniz:</label>
        <select name="CategoryID" class="form-control">
            @foreach (var item in categories)
            {
                <option @(Model.CategoryID == item.ID ? "selected=\"selected\"" : "" ) value="@item.ID">@item.Name</option>
            }
        </select>
    </div>*@
    <div class="form-group">
        <label for="StartDate">Başlama Tarihi</label>
        <input name="StartDate" value="@Model.StartDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="EndDate">Bitiş Tarihi</label>
        <input name="EndDate" value="@Model.EndDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Content">İçerik</label>
        <input name="Content" value="@Model.Content" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Path">Path</label>
        <input name="Path" value="@Model.Path" class="form-control" />
    </div>

    <div class="form-group">
        <label for="DocumentLink">DocumentLink</label>
        <input name="DocumentLink" value="@Model.DocumentLink" class="form-control" />
    </div>
    <input type="submit" value="Güncelle" class="form-control btn btn-primary" />

</form>

