@using Entity
@model Category
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Cteacher/Views/Shared/_TeacherLayout.cshtml";
    Category ct = new Category();
    List<Lesson> lessons = Query.LessonList();
    List<Education> educations = Query.EducationList();
    List<Teacher> teachers = Query.TeacherList();
    List<Category> categories = Query.CategoryList();
    List<Student> students = Query.StudentList();
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><b>CANLI DERS EKLE </b></h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <form action="/Cteacher/OnlineLesson/Add" method="post">
                            <div class="form-group">
                                <label for="EducationID">Eğitim Seçiniz:</label>
                                <select name="EducationID" class="form-control">
                                    @foreach (var item in educations)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="ID">Sınıf Seçiniz</label>
                                <select name="CategoryID" class="form-control">
                                    @foreach (var item in categories)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="ID">Öğrenci Seçiniz</label>
                                <select name="Students" class="form-control" multiple>
                                    @foreach (var item in students)
                                    {
                                        <option value="@item.ID">@item.FirstName.ToUpper() @item.LastName.ToUpper()</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Name">Ders Adı</label>
                                <input name="Name" class="form-control" rows="3" />

                            </div>
                            <div class="form-group">
                                <label for="StartDate">Başlama Tarihi</label>
                                <input name="StartDate" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="EndDate">Bitiş Tarihi</label>
                                <input name="EndDate" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="Path">Path</label>
                                <input name="Path" class="form-control" rows="3" />
                            </div>
                            <input type="submit" value="Ekle" class="form-control btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
